In [45]:
{"Name":"Saurabh", "Gender":"Male"}

{'Name': 'Saurabh', 'Gender': 'Male'}

In [46]:
# empty dictionary
D = {}
D

{}

In [47]:
# 1D dictionary
D = {"Name":"Saurabh", "Gender":"Male"}
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [48]:
# with mixed keys
D1 = {(1, 2, 3):"Saurabh"}
D1

{(1, 2, 3): 'Saurabh'}

In [49]:
# duplicate keys
D2 = {"Name":"Natty", "Name":"Maru"}
D2

{'Name': 'Maru'}

In [50]:
D3 = {"Name":"Saurabh", "College":"SGT", "Marks":{"M1":99, "DS":97, "Eng":98}}
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [51]:
# 2D dictionary ---> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [52]:
# mutable items as keys
D4 = {'name':'nitish', (1, 2, 3):2}
print(D4)

{'name': 'nitish', (1, 2, 3): 2}

In [53]:
# using sequence and dict function
D5 = dict([('name', 'nitish'), ('age', 32), (3, 3)])
D5

{'name': 'nitish', 'age': 32, 3: 3}

In [54]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [55]:
D["Name"]

'Saurabh'

In [56]:
D.get("Name")

'Saurabh'

In [57]:
D["Gender"]

'Male'

In [58]:
D.get("Gender")
# .get() ---> 1-D dicts only; Not for 2-D/nested dicts.

'Male'

In [59]:
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [60]:
D3["Marks"]["DS"]

97

In [61]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [62]:
D["Name"] = "Kartik"
D

{'Name': 'Kartik', 'Gender': 'Male'}

In [63]:
D3["Marks"]["DS"] = 10
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98}}

In [64]:
D

{'Name': 'Kartik', 'Gender': 'Male'}

In [65]:
D["Age"] = 22
D

{'Name': 'Kartik', 'Gender': 'Male', 'Age': 22}

In [66]:
D3["Marks"]["M2"] = 95
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [67]:
D5 = {}
D5

{}

In [68]:
D.pop('Name')

'Kartik'

In [69]:
D.popitem()

('Age', 22)

In [70]:
D

{'Gender': 'Male'}

In [71]:
del D["Gender"]
D

{}

In [72]:
D.clear()
D

{}

In [73]:
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [74]:
D4

{'name': 'nitish', (1, 2, 3): 2}

In [75]:
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [76]:
# Iteration
for i in D3:
    print(i)

Name
College
Marks

In [77]:
for i in D3:
    print(i, D3[i])

Name Saurabh
College SGT
Marks {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}

In [78]:
# Membership
"Saurabh" in  D3

False

In [79]:
"Name" in  D3

True

In [80]:
len(D3)

3

In [81]:
min(D3)

'College'

In [82]:
max(D3)

'Name'

In [83]:
sorted(D3)

['College', 'Marks', 'Name']

In [84]:
sorted(D3, reverse = True)

['Name', 'Marks', 'College']

In [85]:
D3.items()

dict_items([('Name', 'Saurabh'), ('College', 'SGT'), ('Marks', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95})])

In [86]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [87]:
D3.values()

dict_values(['Saurabh', 'SGT', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}])