In [60]:
{"Name":"Saurabh", "Gender":"Male"}

{'Name': 'Saurabh', 'Gender': 'Male'}

In [61]:
# empty dictionary
D = {}
D

{}

In [62]:
# 1D dictionary
D = {"Name":"Saurabh", "Gender":"Male"}
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [63]:
# with mixed keys
D1 = {(1, 2, 3):"Saurabh"}
D1

{(1, 2, 3): 'Saurabh'}

In [64]:
# duplicate keys
D2 = {"Name":"Natty", "Name":"Maru"}
D2

{'Name': 'Maru'}

In [65]:
D3 = {"Name":"Saurabh", "College":"SGT", "Marks":{"M1":99, "DS":97, "Eng":98}}
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [66]:
# 2D dictionary ---> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [67]:
# mutable items as keys
D4 = {'name':'nitish', (1, 2, 3):2}
print(D4)

{'name': 'nitish', (1, 2, 3): 2}

In [68]:
# using sequence and dict function
D5 = dict([('name', 'nitish'), ('age', 32), (3, 3)])
D5

{'name': 'nitish', 'age': 32, 3: 3}

In [69]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [70]:
D["Name"]

'Saurabh'

In [71]:
D.get("Name")

'Saurabh'

In [72]:
D["Gender"]

'Male'

In [73]:
D.get("Gender")
# .get() ---> 1-D dicts only; Not for 2-D/nested dicts.

'Male'

In [74]:
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [75]:
D3["Marks"]["DS"]

97

In [76]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [77]:
D["Name"] = "Kartik"
D

{'Name': 'Kartik', 'Gender': 'Male'}

In [78]:
D3["Marks"]["DS"] = 10
D3

{'Name': 'Saurabh', 'College': 'SGT', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98}}

In [79]:
D

{'Name': 'Kartik', 'Gender': 'Male'}

In [80]:
D["Age"] = 22
D

{'Name': 'Kartik', 'Gender': 'Male', 'Age': 22}

In [81]:
D3["Marks"]["M2"] = 95
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [82]:
D5 = {}
D5

{}

In [83]:
D.pop('Name')

'Kartik'

In [84]:
D.popitem()

('Age', 22)

In [85]:
D

{'Gender': 'Male'}

In [86]:
del D["Gender"]
D

{}

In [87]:
D.clear()
D

{}

In [88]:
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [89]:
D4

{'name': 'nitish', (1, 2, 3): 2}

In [90]:
D3

{'Name': 'Saurabh',
 'College': 'SGT',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [91]:
# Iteration
for i in D3:
    print(i)

Name
College
Marks

In [92]:
for i in D3:
    print(i, D3[i])

Name Saurabh
College SGT
Marks {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}

In [93]:
# Membership
"Saurabh" in  D3

False

In [94]:
"Name" in  D3

True

In [95]:
len(D3)

3

In [96]:
min(D3)

'College'

In [97]:
max(D3)

'Name'

In [98]:
sorted(D3)

['College', 'Marks', 'Name']

In [99]:
sorted(D3, reverse = True)

['Name', 'Marks', 'College']

In [100]:
D3.items()

dict_items([('Name', 'Saurabh'), ('College', 'SGT'), ('Marks', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95})])

In [101]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [102]:
D3.values()

dict_values(['Saurabh', 'SGT', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}])

In [103]:
# update
d1 = {1:2, 3:4, 4:5}
d2 = {4:7, 6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [104]:
D = {"Name":"Nitish", "Gender":"Male", "Age":30}

In [105]:
D.items()

dict_items([('Name', 'Nitish'), ('Gender', 'Male'), ('Age', 30)])

In [106]:
D1 = {key:value for key, value in D.items() if len(key)>3}
D1

{'Name': 'Nitish', 'Gender': 'Male'}

In [107]:
L = [1, 2, 3, 4, 5, 6, 7]

In [108]:
D2 = {item : item**2 for item in L}
D2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [109]:
D2 = {item : item**2 for item in L if item%2 == 0}
D2

{2: 4, 4: 16, 6: 36}

In [110]:
# Print 1st 10 nums & squares
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [111]:
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [112]:
# using existing dict
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
{key:value*0.62 for (key, value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [113]:
# using zip
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]
{i:j for (i, j) in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [114]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}
{key:value for (key, value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [115]:
# Nested Comprehension
# Print multiplication tables for 2 to 4
{i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [116]:
{
    2:{1:2, 2:4, 3:6, 4:8},
    3:{1:3, 2:6, 3:9, 4:12},
    4:{1:4, 2:8, 3:12, 4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}