In [3]:
x = lambda x : x**2
x(9)

81

In [4]:
a = lambda x, y : x + y
a(4, 5)

9

In [5]:
type(a)

function

In [6]:
b = lambda x : x[0] == 'a'
b('apple')

True

In [7]:
b('banana')

False

In [8]:
b = lambda x :'Even' if x%2 == 0 else 'Odd'
b(3)

'Odd'

In [9]:
b(2)

'Even'

In [10]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]

# Even Sum
# Odd Sum
# Div3 Sum

def return_sum(L):
    even_sum = 0
    odd_sum = 0
    div3_sum = 0
    for i in L:
        if i%2 == 0:
            even_sum = even_sum + i
    for i in L:
        if i%2 != 0:
            odd_sum = odd_sum + i
    for i in L:
        if i%3 == 0:
            div3_sum = div3_sum + i
    return(even_sum, odd_sum, div3_sum)
print(return_sum(L))

(206, 195, 240)

In [11]:
L = [11, 14, 27, 21, 23, 56, 78, 39, 45, 29, 28, 30]
def return_sum(func, L):
    result = 0
    for i in L:
        if func(i):
            result = result + i
    return result
x = lambda x : x%2 == 0 # Even Sum
y = lambda x : x%2 != 0 # Odd Sum
z = lambda x : x%3 == 0 # Div3 Sum
print(return_sum(x, L))
print(return_sum(y, L))
print(return_sum(z, L))

206
195
240

In [12]:
L = [1, 2, 3, 4, 5, 6, 7]
L

[1, 2, 3, 4, 5, 6, 7]

In [13]:
map(lambda x : x * 2, L)

In [14]:
list(map(lambda x : x * 2, L))

[2, 4, 6, 8, 10, 12, 14]

In [15]:
list(map(lambda x : x % 2 == 0, L))

[False, True, False, True, False, True, False]

In [16]:
students = [
    {
        "name" : "Jacob Martin",
        "Father name" : "Ros Martin",
        "Address" : "123 Hills Street",
    },{
        "name" : "Angela Stevens",
        "Father name" : "Robert Stevens",
        "Address" : "3 Upper Street London",
    },{
        "name" : "Ricky Smart",
        "Father name" : "William Smart",
        "Address" : "Unknown",
    }
    
]
list(map(lambda student : student["name"], students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']

In [27]:
L

[1, 2, 3, 4, 5, 6, 7]

In [29]:
list(filter(lambda x : x > 4, L))

[5, 6, 7]

In [30]:
fruits = ["Apple", "Orange", "Mango", "Guava"]

In [31]:
list(filter(lambda fruit : "e" in  fruit, fruits))

['Apple', 'Orange']

In [33]:
import functools

In [34]:
L

[1, 2, 3, 4, 5, 6, 7]

In [35]:
functools.reduce(lambda x, y : x + y, L)

28

In [36]:
L1 = [12, 34, 56, 11, 21, 58]
L1

[12, 34, 56, 11, 21, 58]

In [37]:
functools.reduce(lambda x, y : x if x>y else y, L1)

58

In [26]:
functools.reduce(lambda x, y : x if x<y else y, L1)

11