In [79]:
L = [1, 2, 3]
print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

2266523194432
140727475487528
140727475487560
140727475487592
140727475487528
140727475487560
140727475487592

In [80]:
# Empty
L = []
L

[]

In [81]:
# 1D ---> Homo
L1 = [1, 2, 3, 4, 5]
L1

[1, 2, 3, 4, 5]

In [82]:
# Hetrogenous
L2 = ["Hello", 4, 5, 6, True, 5+6j]
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [83]:
# Multidimentional list:
# 2D
L3 = [1, 2, 3, [4, 5]]
L3

[1, 2, 3, [4, 5]]

In [84]:
# 3D
L4 = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [85]:
# Using Type Conversion
L5 = list("Saurabh")
L5

['S', 'a', 'u', 'r', 'a', 'b', 'h']

In [86]:
L6 = list()
L6

[]

In [87]:
L1

[1, 2, 3, 4, 5]

In [88]:
L1[0]

1

In [89]:
L1[-1]

5

In [90]:
# Slicing
L1[1:3]

[2, 3]

In [91]:
L1[::-1]

[5, 4, 3, 2, 1]

In [92]:
L3

[1, 2, 3, [4, 5]]

In [93]:
L3[0]

1

In [94]:
L3[-1]

[4, 5]

In [95]:
x = L3[-1]
x

[4, 5]

In [96]:
x[0]

4

In [97]:
L3[-1][0]

4

In [98]:
L3[-1][-1]

5

In [99]:
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [100]:
L4[-1][-1][0]

7

In [101]:
L4[0][1][1]

4

In [102]:
L1

[1, 2, 3, 4, 5]

In [103]:
# Editing With Indexing
L1[0] = 100
L1
# List in Python are Mutable

[100, 2, 3, 4, 5]

In [104]:
L1[-1] = 500
L1

[100, 2, 3, 4, 500]

In [105]:
# Editing With Slicing
L1[1:4] = [200, 300, 400]
L1

[100, 200, 300, 400, 500]

In [106]:
L1

[100, 200, 300, 400, 500]

In [107]:
L1.append(1000)
L1

[100, 200, 300, 400, 500, 1000]

In [108]:
L1.append("hello")
L1

[100, 200, 300, 400, 500, 1000, 'hello']

In [109]:
L1.extend([5000, 6000, 7000])
L1

[100, 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000]

In [110]:
L1.append([5, 6])
L1

[100, 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, [5, 6]]

In [111]:
L1.extend("goa")
L1

[100,
 200,
 300,
 400,
 500,
 1000,
 'hello',
 5000,
 6000,
 7000,
 [5, 6],
 'g',
 'o',
 'a']

In [112]:
L1.insert(1, "world")
L1

[100,
 'world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 5000,
 6000,
 7000,
 [5, 6],
 'g',
 'o',
 'a']

In [113]:
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [114]:
del L1[0]
L1

['world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 5000,
 6000,
 7000,
 [5, 6],
 'g',
 'o',
 'a']

In [115]:
del L1[-4]
L1

['world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, 'g', 'o', 'a']

In [116]:
del L1[-3:]
L1

['world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000]

In [117]:
L1.remove("hello")
L1

['world', 200, 300, 400, 500, 1000, 5000, 6000, 7000]

In [118]:
L1.pop()
L1

['world', 200, 300, 400, 500, 1000, 5000, 6000]

In [119]:
L1.pop()
L1

['world', 200, 300, 400, 500, 1000, 5000]

In [120]:
L1.clear()
L1

[]

In [121]:
L = [1, 2, 3, 4]
L1 = [5, 6, 7, 8]

In [122]:
# Concatenation/Merge
L + L1

[1, 2, 3, 4, 5, 6, 7, 8]

In [123]:
L

[1, 2, 3, 4]

In [124]:
L1

[5, 6, 7, 8]

In [125]:
L * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [126]:
# Loops
for i in L:
    print(i)

1
2
3
4

In [127]:
L3

[1, 2, 3, [4, 5]]

In [128]:
for i in L3:
    print(i)

1
2
3
[4, 5]

In [129]:
4 in L3

False

In [130]:
[4, 5] in L3

True

In [131]:
L

[1, 2, 3, 4]

In [132]:
len(L)

4

In [133]:
min(L)

1

In [134]:
max(L)

4

In [135]:
sorted(L)

[1, 2, 3, 4]

In [136]:
sorted(L, reverse = True)

[4, 3, 2, 1]

In [137]:
L

[1, 2, 3, 4]

In [138]:
L.sort(reverse = True)

In [139]:
L

[4, 3, 2, 1]

In [140]:
L.sort()

In [141]:
# count 
L = [1, 2, 1, 3, 4, 1, 5]
L.count(5)

1

In [142]:
L

[1, 2, 1, 3, 4, 1, 5]

In [143]:
# index
L.index(3)

3

In [144]:
# reverse
L = [2, 1, 5, 7, 0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [145]:
# sort (vs sorted)
L = [2, 1, 5, 7, 0]
print(L)
print(sorted(L)) # New sorted list
print(L)         # Original list (unchanged)
L.sort()
print(L)         # Original list (sorted)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [146]:
# copy ---> shallow
L = [2, 1, 5, 7, 0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
2266523455808
[2, 1, 5, 7, 0]
2266523333440

In [147]:
"hello how are you".title()

'Hello How Are You'

In [148]:
# Title Case a String Without title()
sample = "how are you?"
sample.split()
L = []
for i in sample.split():
    L.append(i.capitalize())
print(L)
print(" ".join(L))

['How', 'Are', 'You?']
How Are You?

In [149]:
sample = "saurabh@gmail.com"
print(sample[:sample.find("@")])

saurabh

In [150]:
L1 = [1, 1, 2, 2, 3, 3, 4, 4]
# Output: L2 = [1, 2, 3, 4]
L = []
for i in L1:
    if i not in L:
        L.append(i)
print(L)

[1, 2, 3, 4]

In [151]:
L = [1, 2, 3, 4, 5, 6, 7]
L

[1, 2, 3, 4, 5, 6, 7]

In [152]:
L1 = [item * 2 for item in L]
L1

[2, 4, 6, 8, 10, 12, 14]

In [153]:
L2 = [i**2 for i in range(10)]
L2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [154]:
L3 = [i**2 for i in range(10) if i%2!=0]
L3

[1, 9, 25, 49, 81]

In [155]:
fruits = ['Apple', 'Orange', 'Mango', 'Guava']
fruits

['Apple', 'Orange', 'Mango', 'Guava']

In [156]:
L4 = [fruit for fruit in fruits if fruit[0]=="O"]
L4

['Orange']

In [157]:
# Add 1-10 to list
L = []
for i in range(1, 11):
  L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [158]:
L = [i for i in range(1, 11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [159]:
# Scalar Multiplication
v = [2, 3, 4] # Vector
s = -3        # Scalar
# [-6, -9, -12]
[s*i for i in v]

[-6, -9, -12]

In [160]:
# Add squares
L = [1, 2, 3, 4, 5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [161]:
# Print nums divisible by 5 from 1 to 50
[i for i in range(1, 51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [162]:
# Languages starting with 'p'
languages = ['java', 'python', 'php', 'c', 'javascript']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [163]:
# Nested If with List Comprehension
basket = ['apple', 'guava', 'cherry', 'banana']
my_fruits = ['apple', 'kiwi', 'grapes', 'banana']
# Add fruits from `my_fruits` that are in `basket` and start with 'a'
[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [164]:
# 3x3 Matrix via Nested List Comprehension
[[i*j for i in range(1, 4)] for j in range(1, 4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [165]:
# Cartesian Products ---> List Comprehension on 2 lists together
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [ ]:
# Itemwise
L = [1, 2, 3, 4]
for i in L:
  print(i)

In [ ]:
# Indexwise
L = [1, 2, 3, 4]
for i in range(0, len(L)):
  print(L[i])

In [ ]:
# Add items of 2 lists indexwise
L1 = [1, 2, 3, 4]
L2 = [-1, -2, -3, -4]
list(zip(L1, L2)) 
[i+j for i, j in zip(L1, L2)]

In [ ]:
L = [1, 2, print, type, input]
print(L)

In [ ]:
a = [1, 2, 3]
b = a.copy()
print(a)
print(b)
a.append(4)
print(a)
print(b)
# lists are mutable

In [ ]:
# Split list into odd and even
L = [1, 2, 3, 4, 5, 6]

# Odd numbers
odd_numbers = [x for x in L if x % 2 != 0]

# Even numbers
even_numbers = [x for x in L if x % 2 == 0]

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)

In [ ]:
# List Input from User

# 1. Prompt input
input_string = input("Enter the list elements separated by spaces: ")

# 2. Split string
string_list = input_string.split()

# 3. Convert to integers
integer_list = [int(item) for item in string_list]

# 4. Output
print("The input list is:", integer_list)

In [167]:
# Merge 2 Lists Without + Operator
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

# 1. Using `extend()` Method
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]
# Merge L2 into L1
L1.extend(L2)
print("Merged list:", L1)

# 2. Using for Loop
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]
# Merge L2 into L1 using a loop
for element in L2:
    L1.append(element)
print("Merged list:", L1)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8]
Merged list: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Replace item in list
L = [1, 2, 3, 4, 5, 3]
# replace 3 with 300

L = [1, 2, 3, 4, 5, 3]
old_item = 3
new_item = 300
# Iterate through the list and replace old_item with new_item
for i in range(len(L)):
    if L[i] == old_item:
        L[i] = new_item
print("Updated list:", L)

In [ ]:
# Convert 2D to 1D List

# Define 2D list
L2D = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Initialize 1D list
L1D = []

# Flatten 2D to 1D
for sublist in L2D:
    for item in sublist:
        L1D.append(item)
print("1D list:", L1D)

In [ ]:
# Remove Duplicates from List
L = [1, 2, 1, 2, 3, 4, 5, 3, 4]

# Convert to set ---> Removes duplicates; Convert back to list.
L_unique = list(set(L))

print("List with duplicates removed:", L_unique)

In [ ]:
# Check if list is ascending
def is_ascending(L):
    for i in range(len(L) - 1):
        if L[i] > L[i + 1]:
            return False
    return True

# Test
L1 = [1, 2, 3, 4, 5]
L2 = [1, 3, 2, 4, 5]

print("L1 is in ascending order:", is_ascending(L1))
print("L2 is in ascending order:", is_ascending(L2))