In [2]:
# empty
S1 = {}
S1

{}

In [3]:
type(S1)

dict

In [4]:
S1 = set()
S1

set()

In [5]:
type(S1)

set

In [6]:
# 1D & 2D Sets
S1 = {1, 2, 3, 4, 5} # 1D Set
S1
# S2 = {1, 2, 3, {4, 5}} # 2D Set
# S2

{1, 2, 3, 4, 5}

In [7]:
S2 = {"Hello", 4.5, True}
S2

{4.5, 'Hello', True}

In [8]:
# Type Conversion
s4 = set([1, 2, 3])
print(s4)

{1, 2, 3}

In [9]:
# duplicates not allowed
S3 = {1, 1, 2, 2, 3, 3}
S3

{1, 2, 3}

In [10]:
S4 = {(1, 2, 3), "Hello"}
S4

{(1, 2, 3), 'Hello'}

In [11]:
s1 = {1, 2, 3}
s2 = {3, 2, 1}
print(s1 == s2)

True

In [12]:
S1

{1, 2, 3, 4, 5}

In [13]:
id(S1)

1841524967232

In [14]:
L = list(S1)
L

[1, 2, 3, 4, 5]

In [15]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [16]:
S1 = set(L)
S1

{2, 3, 4, 5, 100}

In [17]:
id(S1)

1841524967680

In [18]:
S1

{2, 3, 4, 5, 100}

In [19]:
S1.add(6)
S1

{2, 3, 4, 5, 6, 100}

In [20]:
id(S1)

1841524967680

In [21]:
S1.add(7)
S1

{2, 3, 4, 5, 6, 7, 100}

In [22]:
id(S1)

1841524967680

In [23]:
S1.update([5, 6, 7])
print(S1)

{2, 3, 100, 5, 4, 6, 7}

In [24]:
S2

{4.5, 'Hello', True}

In [25]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [26]:
S1.remove(100)
S1

{2, 3, 4, 5, 6, 7}

In [27]:
S1.pop()
S1

{3, 4, 5, 6, 7}

In [28]:
S1.pop()
S1

{4, 5, 6, 7}

In [29]:
S1.discard(7)
S1

{4, 5, 6}

In [30]:
S1.clear()
S1

set()

In [31]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}

In [32]:
# Iteration
for i in S1:
    print(i)

1
2
3
4
5

In [33]:
# Membership Test
1 in S1

True

In [34]:
1 not in S1

False