In [57]:
# empty
S1 = {}
S1

{}

In [58]:
type(S1)

dict

In [59]:
S1 = set()
S1

set()

In [60]:
type(S1)

set

In [61]:
# 1D & 2D Sets
S1 = {1, 2, 3, 4, 5} # 1D Set
S1
# S2 = {1, 2, 3, {4, 5}} # 2D Set
# S2

{1, 2, 3, 4, 5}

In [62]:
S2 = {"Hello", 4.5, True}
S2

{4.5, 'Hello', True}

In [63]:
# Type Conversion
s4 = set([1, 2, 3])
print(s4)

{1, 2, 3}

In [64]:
# duplicates not allowed
S3 = {1, 1, 2, 2, 3, 3}
S3

{1, 2, 3}

In [65]:
S4 = {(1, 2, 3), "Hello"}
S4

{(1, 2, 3), 'Hello'}

In [66]:
s1 = {1, 2, 3}
s2 = {3, 2, 1}
print(s1 == s2)

True

In [67]:
S1

{1, 2, 3, 4, 5}

In [68]:
id(S1)

2443124350912

In [69]:
L = list(S1)
L

[1, 2, 3, 4, 5]

In [70]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [71]:
S1 = set(L)
S1

{2, 3, 4, 5, 100}

In [72]:
id(S1)

2443124349568

In [73]:
S1

{2, 3, 4, 5, 100}

In [74]:
S1.add(6)
S1

{2, 3, 4, 5, 6, 100}

In [75]:
id(S1)

2443124349568

In [76]:
S1.add(7)
S1

{2, 3, 4, 5, 6, 7, 100}

In [77]:
id(S1)

2443124349568

In [78]:
S1.update([5, 6, 7])
print(S1)

{2, 3, 100, 5, 4, 6, 7}

In [79]:
S2

{4.5, 'Hello', True}

In [80]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [81]:
S1.remove(100)
S1

{2, 3, 4, 5, 6, 7}

In [82]:
S1.pop()
S1

{3, 4, 5, 6, 7}

In [83]:
S1.pop()
S1

{4, 5, 6, 7}

In [84]:
S1.discard(7)
S1

{4, 5, 6}

In [85]:
S1.clear()
S1

set()

In [86]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}

In [87]:
# Iteration
for i in S1:
    print(i)

1
2
3
4
5

In [88]:
# Membership Test
1 in S1

True

In [89]:
1 not in S1

False

In [90]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [91]:
# Union(|)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
# Intersection(&)
s1 & s2

{4, 5}

In [93]:
# Difference(-)
s1 - s2
s2 - s1

{6, 7, 8}

In [94]:
# Symmetric Difference(^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [95]:
len(S1)

5

In [96]:
min(S1)

1

In [97]:
max(S1)

5

In [98]:
sorted(S1)

[1, 2, 3, 4, 5]

In [99]:
sorted(S1, reverse = True)

[5, 4, 3, 2, 1]

In [100]:
S1

{1, 2, 3, 4, 5}

In [101]:
S2

{3, 4, 5, 6, 7}

In [102]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [103]:
S1.intersection(S2)

{3, 4, 5}

In [104]:
S1.difference(S2)

{1, 2}

In [105]:
S2.difference(S1)

{6, 7}

In [106]:
S1.symmetric_difference(S2)

{1, 2, 6, 7}

In [107]:
S1.isdisjoint(S2)

False

In [108]:
S1.issubset(S2)

False

In [109]:
S1.issuperset(S2)

False

In [110]:
S1.clear()
S1

set()

In [111]:
# copy
s1 = {1, 2, 3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

In [112]:
# create frozenset
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([3, 4, 5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [113]:
# When to use
# 2D sets
fs = frozenset([1, 2, frozenset([3, 4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [114]:
# examples
{i**2 for i in range(1, 11) if i>5}

{36, 49, 64, 81, 100}