In [2]:
# empty
T1 = ()
T1

()

In [3]:
# homo
T2 = (1, 2, 3, 4, 5)
T2

(1, 2, 3, 4, 5)

In [4]:
# hetro
T3 = ("Hello", 4, 5, 6)
T3

('Hello', 4, 5, 6)

In [5]:
# tuple
T4 = (1, 2, 3, (4, 5))
T4

(1, 2, 3, (4, 5))

In [6]:
T5 = (1)
T5

1

In [7]:
type(T5)

int

In [8]:
# Type Conversion
T5 = ("Hello")
type(T5)

str

In [9]:
# Single-item tuple creation
T5 = ("Hello",)
type(T5)

tuple

In [10]:
T6 = tuple("Goa")
T6

('G', 'o', 'a')

In [11]:
T6 = tuple([1, 2, 3, 4])
T6

(1, 2, 3, 4)

In [12]:
T2

(1, 2, 3, 4, 5)

In [13]:
T2[0]

1

In [14]:
T2[-1]

5

In [15]:
T2[:4]

(1, 2, 3, 4)

In [16]:
T4

(1, 2, 3, (4, 5))

In [17]:
T4[-1][0]

4

In [18]:
L = [1, 2, 3, 4, 5]

In [19]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [20]:
T2

(1, 2, 3, 4, 5)

In [22]:
T1

()