In [1]:
# empty
T1 = ()
T1

()

In [2]:
# homo
T2 = (1, 2, 3, 4, 5)
T2

(1, 2, 3, 4, 5)

In [3]:
# hetro
T3 = ("Hello", 4, 5, 6)
T3

('Hello', 4, 5, 6)

In [4]:
# tuple
T4 = (1, 2, 3, (4, 5))
T4

(1, 2, 3, (4, 5))

In [5]:
T5 = (1)
T5

1

In [6]:
type(T5)

int

In [7]:
# Type Conversion
T5 = ("Hello")
type(T5)

str

In [8]:
# Single-item tuple creation
T5 = ("Hello",)
type(T5)

tuple

In [9]:
T6 = tuple("Goa")
T6

('G', 'o', 'a')

In [10]:
T6 = tuple([1, 2, 3, 4])
T6

(1, 2, 3, 4)

In [11]:
T2

(1, 2, 3, 4, 5)

In [12]:
T2[0]

1

In [13]:
T2[-1]

5

In [14]:
T2[:4]

(1, 2, 3, 4)

In [15]:
T4

(1, 2, 3, (4, 5))

In [16]:
T4[-1][0]

4

In [17]:
L = [1, 2, 3, 4, 5]

In [18]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [19]:
T2

(1, 2, 3, 4, 5)

In [20]:
T1

()

In [21]:
T3

('Hello', 4, 5, 6)

In [22]:
T2

(1, 2, 3, 4, 5)

In [23]:
T3

('Hello', 4, 5, 6)

In [24]:
T2 + T3

(1, 2, 3, 4, 5, 'Hello', 4, 5, 6)

In [25]:
T2 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [26]:
# iteration
for i in T2:
    print(i)

1
2
3
4
5

In [27]:
# membership
1 in T2

True

In [28]:
len(T2)

5

In [29]:
min(T2)

1

In [30]:
max(T2)

5

In [31]:
sum(T2)

15

In [32]:
sorted(T2)

[1, 2, 3, 4, 5]

In [33]:
sorted(T2, reverse = True)

[5, 4, 3, 2, 1]

In [34]:
# count
t = (1, 2, 3, 4, 5)
t.count(50)

0

In [35]:
import time 
L = list(range(100000000))
T = tuple(range(100000000))

# List timing
start = time.time()
for i in L:
  i*5
print('List time', time.time()-start)

# Tuple timing
start = time.time()
for i in T:
  i*5
print('Tuple time', time.time()-start)

List time 22.584150552749634
Tuple time 26.97362470626831

In [36]:
import sys
L = list(range(1000))
T = tuple(range(1000))
print('List size', sys.getsizeof(L))
print('Tuple size', sys.getsizeof(T))

List size 8056
Tuple size 8040

In [37]:
a = [1, 2, 3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [38]:
a = (1, 2, 3)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [39]:
# tuple unpacking
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

In [43]:
a = 3
b = 2
a, b = b, a
print(a, b)

2 3

In [41]:
a, b, *others = (1, 2, 3, 4)
print(a, b)
print(others)

1 2
[3, 4]

In [44]:
# zipping tuples
a = (1, 2, 3, 9)
b = (5, 6, 7, 8)
tuple(zip(a, b))

((1, 5), (2, 6), (3, 7), (9, 8))